[flake8]
ignore = E203, E266, E501, W503, F403, F401, F405,B950,B907,B001,E722,E731,B904
max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude = __pycache__ , .venv , static
per-file-ignores = __init__.py:F401
                    apps.py:F401


[autoflake]
check=true
imports=django,requests,urllib3
