venv/
csv/

static/images/reportspdf/



static/images/csv

static/images/logos
static/admin/*
static/admin_interface/*
static/ckeditor/*
static/colorfield/*
static/debug_toolbar/*
static/django_extensions/*
static/streamfield/*
db.sqlite3