<!-- ======= Footer ======= -->
{% load static %}
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <img src="{% static 'assets/img/logo.png' %}" class="img-fluid" style="max-width: 9rem;" />
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">شركة سعودية متخصصة فى العقارات</p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">الهاتف .</span> contact@example.com
              </li>
              <li class="color-a">
                <span class="color-text-a">البريد الألكترونى .</span> +54 356 945234
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">الشركة</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="bi bi-chevron-left"></i> <a href="#">خريطة الموقع</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-left"></i> <a href="#">الشروط والأحكام</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-left"></i> <a href="#">إتصل بنا</a>
                </li>
                <li class="item-list-a">
                  <i class="bi bi-chevron-left"></i> <a href="#">الوظائف</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">المواقع</h3>
          </div>
          <div class="w-body-a">
            <ul class="list-unstyled">
              <li class="item-list-a">
                <i class="bi bi-chevron-left"></i> <a href="#">السعودية</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-left"></i> <a href="#">مصر</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-left"></i> <a href="#">لبنان</a>
              </li>
              <li class="item-list-a">
                <i class="bi bi-chevron-left"></i> <a href="#">سوريا</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="socials-a">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#"><i class="bi bi-facebook" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="bi bi-twitter" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="bi bi-instagram" aria-hidden="true"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
        <div class="copyleft-footer">
          <p class="copyleft color-text-a">
            &copy; Copyleft
            <span class="color-a">ثمار القابضه</span> جميع الحقوق محفوظة
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
