{% load static formatter_tags %}

<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand" href="{% url 'soon-page' %}"><img src="{% static 'assets/img/logo.png' %}" class="img-fluid" style="max-width: 4.5rem;" /></a>

    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name|startswith:'soon-page' %} active {% endif %}" href="{% url 'soon-page' %}">الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name|startswith:'about-page' %} active {% endif %}" href="{% url 'about-page' %}">عن الشركة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name|startswith:'reports-page' %} active {% endif %}" href="{% url 'reports-page' %}">مجلس الأدارة </a>
        </li>
      </ul>
    </div>
<!--    <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"><i class="bi bi-search"></i></button>-->
  </div>
</nav>
