{% load static formatter_tags %}

<nav id="navbar" class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div class="container">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand" href="{% url 'home-page' %}">
      <img src="{% static 'assets/img/logo_white.png' %}" class="img-fluid" style="max-width:6.5rem;max-height:8vh;" />
    </a>

    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name|startswith:'home-page' %} active {% endif %}" href="{% url 'home-page' %}">الرئيسية</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name|startswith:'services-page' %} active {% endif %}" href="#" id="investorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            علاقات المستثمرين
          </a>
          <ul class="dropdown-menu" style="direction:rtl;" aria-labelledby="investorDropdown">
            <li><a class="dropdown-item" href="{% url 'reports-page' %}">تقارير مجلس الأدارة   </a></li>
            <li><a class="dropdown-item" href="{% url 'services-page' %}">الجمعيات العامة لمساهمين الشركة   </a></li>
            <li><a class="dropdown-item" href="{% url 'maal-page' %}">  القوائم المالية           </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name|startswith:'services-page' %} active {% endif %}" href="#" id="investorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            الحوكمة
          </a>
          <ul class="dropdown-menu" style="direction:rtl;" aria-labelledby="investorDropdown">
            <li><a class="dropdown-item" href="{% static 'assets/thimar_system.pdf' %}">النظام السياسي للشركة</a></li>
            <li><a class="dropdown-item" href="{% url 'privacy-page' %}">سياسة الإبلاغ عن المخالفات</a></li>
            <li><a class="dropdown-item"  href="#">سياسة المسؤولية الاجتماعية و مبادرة العمل السياسي            </a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name|startswith:'who-page' %} active {% endif %}" href="{% url 'who-page' %}">استثماراتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name|startswith:'about-page' %} active {% endif %}" href="{% url 'about-page' %}">من نحن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name|startswith:'contact-page' %} active {% endif %}" href="{% url 'contact-page' %}">المركز الإعلامي</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
