{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
  .navbar {
    background-color: #392E37 !important;
  }
  .card-img {
    box-shadow: 1px 2px 15px #392E37;
  }
  .bg-footer {
    background-color: #CEC9BB;
  }
</style>
{% endblock style %}
{% block body %}
      <!-- ======= Intro Section ======= -->
      <div class="intro intro-carousel swiper position-relative">
    <div class="swiper-wrapper">
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-position: bottom;background-image: url(../../static/assets/img/about.jpg);background-origin: content-box;background-size: cover;">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="intro-body">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO: change "sections"
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url('../../static/assets/img/back_ksa.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top"></p>
                    <h1 class="intro-title mb-4"></h1>
                    <p class="intro-subtitle intro-price">
                      مرحباً بكم في شركة ثمار، حيث نؤمن بأن الزراعة هي أساس الأمن الغذائي، وأن تقديم منتجات غذائية عالية الجودة هو رسالتنا. نسعى في ثمار لتحقيق الاستدامة والابتكار في كل ما نقوم به، بهدف دعم المزارعين وتوفير حلول زراعية متكاملة تسهم في تحسين حياتهم وتعزيز مستقبل أكثر ازدهاراً للجميع. رؤيتنا هي أن نكون الشريك الموثوق به في قطاع الزراعة والغذاء، ملتزمين بالتفوق والجودة في كل خطوة نخطوها
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url('../../static/assets/img/ksa22.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top"></p>
                    <h1 class="intro-title mb-4"></h1>
                    <p class="intro-subtitle intro-price">
                      الجودة والابتكار في خدمة الزراعة
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
to a different word -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- End Intro Section -->
  <main id="main">

  <!-- ======= About Section ======= -->
  <section class="section-about bg-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-t4 position-relative">
            <div class="row d-flex justify-content-between">
              <div class="col-md-4 col-lg-4 mt-8" style="margin-block:4.5rem">
                <img src="{% static 'assets/img/who6.jpg' %}" alt="" class="img-fluid card-img" style="height:60vh">
              </div>
              <div class="col-md-3 col-lg-3 section-md-t3" style="margin-block:4rem;">
                  <h5 class="title-d noto-kufi-arabic" style="font-size:1.6rem;">استرايجتنا
                  </h5>
                <p class="color-text-a noto-kufi-arabic" style="font-size:1.25rem;">
مرت ثمار التنمية القابضة بعدة منعطفات حتى وصلت إلى مرحلة الأستقرار والنمو, إذ بنت هيكلية مرنة ووضعت اتسراتيجية مبتكرة تترجم هذا التوسعو ومن أهم ملامح تلك الأستراتيجية
                </p>

              </div>

              <div class="col-md-4 col-lg-4 section-md-t3">
                <img src="{% static 'assets/img/who5.jpg' %}" alt="" class="img-fluid card-img" style="height:60vh">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  <!-- ======= Goals Section ======= -->
  <section class="section-about bg-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-t4 position-relative">
            <div class="row d-flex justify-content-start">
              <div class="col-md-4 col-lg-5 mt-8" style="margin-block:4.5rem">
                <img src="{% static 'assets/img/who6.jpg' %}" alt="" class="img-fluid card-img" style="height:60vh">
              </div>
              <div class="col-md-6 col-lg-6 section-md-t3" style="margin-block:4rem;background-color:#c6c6c6">

                <p class="color-text-a noto-kufi-arabic" style="font-size:1.4rem;">
                  النمو والتوسع استمرت ثمار في نموها وتوسعها من خلال تبني الأفكار المبتكرة والاستحواذ على شركات قائمة، إضافة إلى الوصول إلى أسواق جديدة وعملاء جدد لتوسيع قاعدة أعمالها وتعزيز قدرتها على المنافسة.
التنوع: تبنت الشركة استراتيجية التنويع في مجالات عملها لتقليل المخاطر وتحقيق استقرار الأرباح وهو ما عزّز قدرتها على الصمود في وجه التحديات الاقتصادية.
الحوكمة والشفافية أعادت ثمار هيكلية إداراتها وممارساتها الداخلية، وبنت في سبيل ذلك خططاً واضحة تسهل تبادل المعلومات والشفافية بين الأقسام والإدارات، وهو ما انعكس على أداء
الشركة على الفور.
الكفاءة:
أولت ثمار الأولية لكفاءة أعمالها وابتكرت خريطة عمل لتحقيق الوفورات بمشاركة الموارد وتبادل الخدمات بين الشركات التابعة ما قلّل التكاليف وحسّن الربحية.
الحلول التمويلية مع تنوع استثمارات الشركة عقدت شراكات وأوجدت حلولاً تمويلية لتمويل مشاريع الشركات التابعة لها، وهو ما زاد في استقرار أعمالها وكفاءة إنتاجيتها.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




  </main>
{% endblock %}
