{% extends 'base.html' %}
{% load static %}

{% block body %}
  <main id="main">

    <section class="agent-single">
      <div class="container">
        <div class="row pt-4"></div>
        <div class="row pt-4">
          <div class="col-md-12 section-md-t3">
            <h1 class="color-text-a text-center">عن الشركة</h1>
            <div class="agent-info-box">
              <div class="agent-content mb-3 mx-auto">
                <h3 class="color-text-a text-end pt-4">النسخة العربية</h3>
                <iframe src="{% static 'assets/files/file.pdf' %}" width="100%" height="600px"></iframe>
              </div>
            </div>
          </div>
          <div class="col-md-12 section-md-t3">
            <div class="agent-info-box">
              <div class="agent-content mb-3 mx-auto">
                <h3 class="color-text-a text-end">النسخة الأنجليزية</h3>
                <iframe src="{% static 'assets/files/file-en.pdf' %}" width="100%" height="600px"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

        <!-- ======= Services Section ======= -->
    <section class="section-services section-t4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a noto-kufi-arabic">لماذا ثمار ؟ </h2>
                <p class="intro-subtitle">تتميز شركة "ثمار" بعدة جوانب تجعلها رائدة في مجالها، منها:</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-cart"></span>
                </div>
                <div class="card-title-c align-self-center m-2">
                  <h2 class="title-c">الجودة العالية</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">تلتزم شركة ثمار بتقديم منتجات زراعية وغذائية ذات جودة ممتازة، حيث تتبع أعلى المعايير العالمية في جميع مراحل الإنتاج، من الزراعة حتى التسويق</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-calendar4-week"></span>
                </div>
                <div class="card-title-c align-self-center m-2">
                  <h2 class="title-c">الالتزام بالوقت</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">تحرص الشركة على الالتزام بمواعيد تسليم المنتجات والخدمات بدقة، مما يعزز ثقة العملاء ويضمن استمرارية التعاون</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-card-checklist"></span>
                </div>
                <div class="card-title-c align-self-center m-2">
                  <h2 class="title-c">الابتكار</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">تعتمد شركة ثمار على استخدام أحدث التقنيات الزراعية والابتكارات في مجال الخدمات اللوجستية، مما يساعدها على تحسين كفاءة الإنتاج وزيادة القدرة التنافسية في السوق.</p>
              </div>
            </div>
          </div>
                 <div class="col-md-3">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-calculator"></span>
                </div>
                <div class="card-title-c align-self-center m-2">
                  <h2 class="title-c">الاستدامة</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">تركز الشركة على الممارسات الزراعية المستدامة التي تحافظ على البيئة وتدعم التنمية الزراعية طويلة الأمد</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Services Section -->

  </main>
{% endblock %}
