{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block style %}
<style>
  .intro-single {
    padding: 6rem 0 1rem;
  }

  .card-text {
    font-size: 1.2rem !important;
  }

  .bg-footer {
    background-color: #c6c6c6;
  }

  .navbar {
    background-color: #392E37 !important;
  }

  .card-box-ico {
    padding: 0.95rem !important;
    border: none !important;
  }

  .card-img {
    box-shadow: 1px 2px 15px #392E37;
  }

  .radius {
    border-radius: 20px;
  }

  .bg-main {
    background-color: #392E37 !important;
  }

  .bg-services {
    background-color: #c6c6c6
  }

  .services-color {
    color: #c6c6c6 !important;
  }

  .sec-color {
    color: #CEC9BB !important;
  }
</style>
{% endblock %}
{% block body %}

<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single bg-services">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-4 d-flex flex-column mx-auto pt-4">
          <div class="col-12 col-md-4">
            <h5 class="color-main noto-kufi-arabic"> المركز الأعلامى</h5>
          </div>
          <div class="col-12 col-md-8" style="direction:ltr;">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a class="noto-kufi-arabic" href="{% url 'home-page' %}">الرئيسية</a>
                </li>
                <li class="breadcrumb-item active noto-kufi-arabic" aria-current="page">
                  المركز الأعلامى
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->


  <!-- ======= News Section ======= -->
  <section class="section-agents section-t4 bg-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box mx-auto">
            <h1 class="title-single text-black-50 noto-kufi-arabic"> أخبار ثمار</h1>
          </div>
        </div>
      </div>
      <div class="row pt-4" style="padding-bottom:2rem;">
        <!-- Card 1 -->
        <div class="col-md-4 pt-2">
          <div class="card bg-sec" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'assets/img/who1.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text noto-kufi-arabic text-black-50">ثمار تستثمر 6 ملايين ريال لتطوير برج سكنى بالرياض </p>
            </div>
          </div>
        </div>
        <!-- Repeat for other cards if needed -->
        <!-- Card 2 -->
        <div class="col-md-4 pt-2">
          <div class="card bg-sec" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'assets/img/who2.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text noto-kufi-arabic text-black-50">ثمار تستثمر 6 ملايين ريال لتطوير برج سكنى بالرياض </p>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4 pt-2">
          <div class="col-md-4 pt-2">
            <div class="card bg-sec" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'assets/img/who3.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text noto-kufi-arabic text-black-50">ثمار تستثمر 6 ملايين ريال لتطوير برج سكنى بالرياض
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt-4" style="padding-bottom:2rem;">
        <!-- Card 1 -->
        <div class="col-md-4 pt-2">
          <div class="card bg-sec" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'assets/img/who1.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text noto-kufi-arabic text-black-50">ثمار تستثمر 6 ملايين ريال لتطوير برج سكنى بالرياض </p>
            </div>
          </div>
        </div>
        <!-- Repeat for other cards if needed -->
        <!-- Card 2 -->
        <div class="col-md-4 pt-2">
          <div class="card bg-sec" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'assets/img/who2.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text noto-kufi-arabic text-black-50">ثمار تستثمر 6 ملايين ريال لتطوير برج سكنى بالرياض </p>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4 pt-2">
          <div class="col-md-4 pt-2">
            <div class="card bg-sec" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'assets/img/who3.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text noto-kufi-arabic text-black-50">ثمار تستثمر 6 ملايين ريال لتطوير برج سكنى بالرياض
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- ======= Latest News Section ======= -->
  <!-- <section class="section-agents section-t4 bg-services">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title-wrap d-flex justify-content-between">
                <div class="title-box">
                  <h2 class="title-a noto-kufi-arabic">أخبار ثمار</h2>
                </div>
                <div class="title-link">
                  <a href="">
                    جميع الأخبار
                    <span class="bi bi-chevron-left"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
       <div class="row pt-4">
  {% for new in news  %}
  <div class="col-md-4 pt-2">
          <div class="card bg-sec" style="width: 18rem;">
            <img class="card-img-top" src="{{new.image.url}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text noto-kufi-arabic text-black-50">{{new.title}}       </p>
            </div>
          </div>
        </div>
  {% endfor %}
       </div>
        </div>
      </section> -->
  <!-- End Latest News Section -->


  <!-- ======= Latest Gallery Section ======= -->
  <section class="section-news section-t4 bg-sec" style="padding-bottom:2rem;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="text-black-50 noto-kufi-arabic ">جاليرى </h2>
            </div>
          </div>
        </div>
      </div>

      <div id="news-carousel" class="swiper">
        <div class="swiper-wrapper">
          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box news-frame">
              <div class="img-box-b card-img radius">
                <img src="{% static 'assets/img/gal1.jpg' %}" alt="" class="img-b img-fluid" />
              </div>
            </div>
          </div>
          <!-- End carousel item -->

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box news-frame">
              <div class="img-box-b card-img radius">
                <img src="{% static 'assets/img/gal2.jpg' %}" alt="" class="img-b img-fluid" />
              </div>
            </div>
          </div>
          <!-- End carousel item -->

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box news-frame">
              <div class="img-box-b card-img radius">
                <img src="{% static 'assets/img/gal3.jpg' %}" alt="" class="img-b img-fluid" />
              </div>
            </div>
          </div>
          <!-- End carousel item -->

          <div class="carousel-item-c swiper-slide">
            <div class="card-box-b card-shadow news-box news-frame">
              <div class="img-box-b card-img radius">
                <img src="{% static 'assets/img/gal4.jpg' %}" alt="" class="img-b img-fluid" />
              </div>
            </div>
          </div>
          <!-- End carousel item -->
        </div>
      </div>

      <div class="news-carousel-pagination carousel-pagination"></div>
    </div>
  </section>
  <!-- End Latest Gallery Section -->
  <section class="section-agents section-t4 bg-services" style="padding-bottom:2rem;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <h1 class="title-single text-black-50 noto-kufi-arabic"> تواصل معنا</h1>
          <span class="text-black-50 noto-kufi-arabic">تواصل معنا و سيتم الرد عليك فى اسرع وقت </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 section-t4">
          <div class="row">
            <div class="col-md-7">
              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-a bg-main">إرسال </button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>


{% endblock %}
