{% extends 'base.html' %}
{% load static %}
  {% block style %}
<style>
  .intro .carousel-item-a {
    position: relative;
    height: 110vh;
}
  .card-box-ico{
    padding: 0.95rem !important;
  }
  .intro .intro-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 2.01rem !important;
    text-transform: uppercase;
}
  @media (min-width: 992px) {
    .intro .intro-title {
        font-size: 3.8rem !important;
    }
}

</style>
    {% endblock %}
{% block body %}
  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel swiper position-relative">
    <div class="swiper-wrapper">
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-position: bottom;background-image: url(../../static/assets/img/home_main.jpg);background-origin: content-box;background-size: cover;">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="intro-body">
                    <p class="intro-title-top"></p>
                    <h1 class="intro-title mb-4 text-center">تسويق المنتجات الزراعية و الغذائية<br> وتجارة الجملة و التجزئة </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TODO: change "sections"
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url('../../static/assets/img/back_ksa.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top"></p>
                    <h1 class="intro-title mb-4"></h1>
                    <p class="intro-subtitle intro-price">
                      مرحباً بكم في شركة ثمار، حيث نؤمن بأن الزراعة هي أساس الأمن الغذائي، وأن تقديم منتجات غذائية عالية الجودة هو رسالتنا. نسعى في ثمار لتحقيق الاستدامة والابتكار في كل ما نقوم به، بهدف دعم المزارعين وتوفير حلول زراعية متكاملة تسهم في تحسين حياتهم وتعزيز مستقبل أكثر ازدهاراً للجميع. رؤيتنا هي أن نكون الشريك الموثوق به في قطاع الزراعة والغذاء، ملتزمين بالتفوق والجودة في كل خطوة نخطوها
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url('../../static/assets/img/ksa22.jpg')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top"></p>
                    <h1 class="intro-title mb-4"></h1>
                    <p class="intro-subtitle intro-price">
                      الجودة والابتكار في خدمة الزراعة
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
to a different word -->
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- End Intro Section -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a noto-kufi-arabic">لماذا ثمار ؟ </h2>
                <p class="intro-subtitle">تتميز شركة "ثمار" بعدة جوانب تجعلها رائدة في مجالها، منها:</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-cart"></span>
                </div>
                <div class="card-title-c align-self-center m-2">
                  <h2 class="title-c">الجودة العالية</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">تلتزم شركة ثمار بتقديم منتجات زراعية وغذائية ذات جودة ممتازة، حيث تتبع أعلى المعايير العالمية في جميع مراحل الإنتاج، من الزراعة حتى التسويق</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-calendar4-week"></span>
                </div>
                <div class="card-title-c align-self-center m-2">
                  <h2 class="title-c">الالتزام بالوقت</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">تحرص الشركة على الالتزام بمواعيد تسليم المنتجات والخدمات بدقة، مما يعزز ثقة العملاء ويضمن استمرارية التعاون</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-card-checklist"></span>
                </div>
                <div class="card-title-c align-self-center m-2">
                  <h2 class="title-c">الابتكار</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">تعتمد شركة ثمار على استخدام أحدث التقنيات الزراعية والابتكارات في مجال الخدمات اللوجستية، مما يساعدها على تحسين كفاءة الإنتاج وزيادة القدرة التنافسية في السوق.</p>
              </div>
            </div>
          </div>
                 <div class="col-md-3">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-calculator"></span>
                </div>
                <div class="card-title-c align-self-center m-2">
                  <h2 class="title-c">الاستدامة</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">تركز الشركة على الممارسات الزراعية المستدامة التي تحافظ على البيئة وتدعم التنمية الزراعية طويلة الأمد</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Services Section -->


    <!-- ======= Agents Section ======= -->
    <section class="section-agents section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a noto-kufi-arabic">فريق العمل</h2>
              </div>
              <div class="title-link">
                <a href="">
                  المزيد
                  <span class="bi bi-chevron-left"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{% static 'assets/img/ceo/1.png' %}" alt="" class="img-d img-fluid" />
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="" class="link-two">
                        المهندس/ وليد بن عبدالعزيز الشويعر
                                    </a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">رئيس مجلس الإدارة</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{% static 'assets/img/ceo/2.png' %}" alt="" class="img-d img-fluid" />
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="" class="link-two">
                        أ/ خالد بن أسعد خاشقجي
                      </a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">نائب رئيس مجلس الإدارة</p>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                <img src="{% static 'assets/img/ceo/3.png' %}" alt="" class="img-d img-fluid" />
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="" class="link-two">
                        أ/ ملفي بن مناحي المرزوقي
                      </a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  <p class="content-d color-text-a">عضو مجلس الإدارة  - العضو المنتدب</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Agents Section -->
    <section class="section-agents section-t8">
      <div class="container">
          <h2 class="mb-4">حقائق وأرقام </h2>
          <div class="row">
              <div class="col-md-2 mb-4">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <h3 class="card-title">36</h3>
                          <p class="card-text">عاماً من الخبرات</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 mb-4">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <h3 class="card-title">410</h3>
                          <p class="card-text">موظفاً</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 mb-4">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <h3 class="card-title">22 </h3>
                          <p class="card-text">مشروعاً قائماً</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 mb-4">
                  <div class="card shadow-sm">
                      <div class="card-body">
                          <h3 class="card-title">117</h3>
                          <p class="card-text">شراكة</p>
                      </div>
                  </div>
              </div>

              <div class="col-md-2 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">80% </h3>
                        <p class="card-text">نسبة التوطين </p>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-4">
              <div class="card shadow-sm">
                  <div class="card-body">
                      <h3 class="card-title"> 42 <span style="font-size: 0.6rem; color: black;">مليون ريال</span></h3>
                      <p class="card-text">قيمة المشاريع </p>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </section>
    <!-- ======= Latest News Section ======= -->
    <section class="section-news section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a noto-kufi-arabic">أخبار ثمار</h2>
              </div>
              <div class="title-link">
                <a href="">
                  جميع الأخبار
                  <span class="bi bi-chevron-left"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="news-carousel" class="swiper">
          <div class="swiper-wrapper">
            <div class="carousel-item-c swiper-slide">
              <div class="card-box-b card-shadow news-box news-frame">
                <div class="img-box-b">
                  <img src="{% static 'assets/img/ksa.png' %}" alt="" class="img-b img-fluid" />
                </div>
                <div class="card-overlay">
                  <div class="card-header-b">
                    <div class="card-category-b">
                      <a href="#" class="category-b">أخبار</a>
                    </div>
                    <div class="card-title-b">
                      <h2 class="title-2">
                        <a href=">
                          شركة "ثمار القابضة" تعلن عن نتائجها المالية للربع الثاني من العام الحالي
                        </a>
                      </h2>
                    </div>
                    <div class="card-date">
                      <span class="date-b">{% now "jS F Y H:i" %}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End carousel item -->

            <div class="carousel-item-c swiper-slide">
              <div class="card-box-b card-shadow news-box news-frame">
                <div class="img-box-b">
                  <img src="{% static 'assets/img/post-5.jpg' %}" alt="" class="img-b img-fluid" />
                </div>
                <div class="card-overlay">
                  <div class="card-header-b">
                    <div class="card-category-b">
                      <a href="#" class="category-b">أخبار</a>
                    </div>
                    <div class="card-title-b">
                      <h2 class="title-2">
                        <a href="">
                          شركة "ثمار القابضة" تعلن عن نتائجها المالية للربع الثاني من العام الحالي
                        </a>
                      </h2>
                    </div>
                    <div class="card-date">
                      <span class="date-b">{% now "jS F Y H:i" %}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End carousel item -->

            <div class="carousel-item-c swiper-slide">
              <div class="card-box-b card-shadow news-box news-frame">
                <div class="img-box-b">
                  <img src="{% static 'assets/img/ksa-sea.jpg' %}" alt="" class="img-b img-fluid" />
                </div>
                <div class="card-overlay">
                  <div class="card-header-b">
                    <div class="card-category-b">
                      <a href="#" class="category-b">أخبار</a>
                    </div>
                    <div class="card-title-b">
                      <h2 class="title-2">
                        <a href="">
                          شركة "ثمار القابضة" تعلن عن نتائجها المالية للربع الثاني من العام الحالي

                        </a>
                      </h2>
                    </div>
                    <div class="card-date">
                      <span class="date-b">{% now "jS F Y H:i" %}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End carousel item -->

            <div class="carousel-item-c swiper-slide">
              <div class="card-box-b card-shadow news-box news-frame">
                <div class="img-box-b">
                  <img  src="{% static 'assets/img/back.jpg' %}" alt="" class="img-b img-fluid" />
                </div>
                <div class="card-overlay">
                  <div class="card-header-b">
                    <div class="card-category-b">
                      <a href="#" class="category-b">أخبار</a>
                    </div>
                    <div class="card-title-b">
                      <h2 class="title-2">
                        <a href="#">
                          شركة "ثمار القابضة" تعلن عن نتائجها المالية للربع الثاني من العام الحالي

                        </a>
                      </h2>
                    </div>
                    <div class="card-date">
                      <span class="date-b">{% now "jS F Y H:i" %}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End carousel item -->
          </div>
        </div>

        <div class="news-carousel-pagination carousel-pagination"></div>
      </div>
    </section>
    <!-- End Latest News Section -->
  </main>
  <!-- End #main -->
{% endblock %}
