{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block style %}
<style>
  .intro-single {
    padding: 6rem 0 1rem;
  }

  .bg-footer {
    background-color: #c6c6c6;
  }

  .navbar {
    background-color: #392E37 !important;
  }

  .card-box-ico {
    padding: 0.95rem !important;
    border: none !important;
  }

  .card-img {
    box-shadow: 1px 2px 15px #392E37 !important;
  }

  .bg-main {
    background-color: #392E37 !important;
  }

  .bg-services {
    background-color: #c6c6c6
  }

  .services-color {
    color: #c6c6c6 !important;
  }

  .sec-color {
    color: #CEC9BB !important;
  }
</style>
{% endblock %}

{% block body %}

<main id="main">
  <!-- ======= Intro Section ======= -->
  <div class="intro intro-carousel position-relative">
    <div class="col-12">
      <div class="swiper-slide carousel-item-a intro-item bg-image"  style="background-image: url('{{ home_content.main_background_url }}');">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="intro-body">
                    <h1 class="intro_title text-white mb-4 text-center">
                      {{home_content.main_title|default:'نبني المستقبل عبر فرص نوعية تُثمر نجاحًا مستدامًا '|safe}}
                    </h1>
                    <p class="intro_subtitle text-white text-center">
                      {{home_content.main_subtitle|default:' استثمارات تجسد رؤيتنا الطموحةو نغرسها فى قطاعات حيوية لتثمر فرصا مستدامة تدفع عجلة النمو نحو مستقبل واعد'|safe}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <!-- End Intro Section -->


  <section class="section-agents section-t4 bg-services">

    <div class="container">
      <div class="row pt-2">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{{content.first_paragrapgh_background_url}}" alt="" class="img-fluid card-img">
              </div>
            </div>
            <div class="col-md-6 section-md-t3 bg-sec">
              <div class="agent-info-box">
                <div class="agent-title">
                  <h5 class="title-d noto-kufi-arabic" style="font-size:1.65rem;">
                  {{content.first_paragraph_title|default:'القطاع الزراعي'}}
                  </h5>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a" style="font-size:1.35rem;">
                    {{ content.first_paragraph|default:"منذ انطلاقتنا، كان القطاع الزراعي حجر الأساس لنجاحنا، حيث تخصصنا في تسويق المنتجات الطازجة والعضوية والثروة الحيوانية. نفخر بدورنا في توفير التموين والإمداد، حيث نقدم منتجاتنا للقطاعات الحكومية، المستشفيات، وسلاسل كبرى مثل بندة، الدانوب، والسنبلة."}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="section-agents section-t4 bg-services" style="padding-bottom:3rem;">

    <div class="container">
      <div class="row pt-2">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{{content.second_paragrapgh_background_url}}" alt="" class="img-fluid card-img">
              </div>
            </div>
            <div class="col-md-6 section-md-t3 bg-sec">
              <div class="agent-info-box">
                <div class="agent-title">
                  <h5 class="title-d noto-kufi-arabic" style="font-size:1.65rem;">
                    {{content.second_paragraph_title|default:'القطاع العقاري'}}
                  </h5>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a" style="font-size:1.25rem;">
                    {{ content.second_paragraph|default:'تتجه رؤية ثمار نحو القطاع العقاري كركيزة أساسية لتحقيق النمو المستدام، مع التركيز على تطوير المشاريع السكنية والتجارية التي تلبي احتياجات النهضة الاقتصادية المتسارعة. من خلال شركة "أبراج ثمار"، نقدم حلولًا مبتكرة تواكب تطلعات السوق وتعزز التنوع الاستثماري' }}
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-agents section-t4 bg-main" style="padding-bottom:3rem;">

    <div class="container">
      <div class="row pt-2">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h5 class="title-a noto-kufi-arabic services-color" style="font-size: 2.45rem;">إنجازاتنا </h2>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-4">
              <div class="card-box-ico">
                <span class="bi bi-kanban sec-color"></span>
                <h5 class="sec-color noto-kufi-arabic" style="font-size:1.65rem;">المنتجات الحيوية</h5>
                <p class="services-color" style="font-size:1.65rem;">5208 </p>
              </div>
            </div>
            <div class="col-md-4 section-md-t3">

              <div class="card-box-ico">
                <span class="bi bi-buildings sec-color"></span>
                <h5 class="sec-color noto-kufi-arabic" style="font-size:1.65rem;"> تقنيات عقارية</h5>
                <p class="services-color" style="font-size:1.65rem;">3032 </p>
              </div>
            </div>
            <div class="col-md-4 section-md-t3">
              <div class="card-box-ico">
                <span class="bi bi-building-fill-check sec-color"></span>
                <h5 class="sec-color noto-kufi-arabic" style="font-size:1.65rem;"> تمليك عقارى</h5>
                <p class="services-color" style="font-size:1.65rem;">108812 </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-agents section-t4 bg-services">

    <div class="container">
      <div class="row d-flex justify-content-start">
        <div class="col-md-4">
          {% include 'partials/_messages.html' %}
        </div>
      </div>
      <div class="row d-flex justify-content-start">
        <div class="col-md-8 col-lg-8 d-flex justify-content-start">
          <div class="title-single-box">
            <h1 class="title-single text-black-50 noto-kufi-arabic">تقدّم بمشروعك </h1>
          </div>
        </div>
      </div>
      <div class="row pt-4 d-flex justify-content-start">
        <div class="col-sm-10">
          <div class="row d-flex justify-content-start">
            <div class="col-md-8 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                </div>
                <div class="agent-content mb-3">
                  <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-a bg-main text-white">إرسال </button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

</main>


{% endblock %}
