{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block style %}
<style>
  .intro-single {
    padding: 6rem 0 1rem;
  }

  .bg-footer {
    background-color: #c6c6c6;
  }

  .navbar {
    background-color: #392E37 !important;
  }

  .card-box-ico {
    padding: 0.95rem !important;
    border: none !important;
  }

  .card-img {
    box-shadow: 1px 2px 15px #392E37 !important;
  }

  .bg-main {
    background-color: #392E37 !important;
  }

  .bg-services {
    background-color: #c6c6c6
  }

  .services-color {
    color: #c6c6c6 !important;
  }

  .sec-color {
    color: #CEC9BB !important;
  }
</style>
{% endblock %}

{% block body %}

<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single bg-services">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-4 d-flex flex-column mx-auto pt-4">
          <div class="col-12 col-md-4">
            <h5 class="color-main noto-kufi-arabic" style="font-size: 1.65rem;">إستثمارات نامية</h5>
          </div>
          <div class="col-12 col-md-8" style="direction:ltr;">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a class="noto-kufi-arabic" href="{% url 'home-page' %}">الرئيسية</a>
                </li>
                <li class="breadcrumb-item active noto-kufi-arabic" aria-current="page">
                  استثمارات نامية
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->
  <section class="section-agents section-t4 bg-services">

    <div class="container">
      <div class="row pt-2">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'assets/img/green.jpg' %}" alt="" class="img-fluid card-img">
              </div>
            </div>
            <div class="col-md-6 section-md-t3 bg-sec">
              <div class="agent-info-box">
                <div class="agent-title">
                  <h5 class="title-d noto-kufi-arabic" style="font-size:1.65rem;">
                    القطاع الزراعي

                  </h5>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a" style="font-size:1.25rem;">
                    بدأت "ثمار" استثماراتها في القطاع الزراعي، متخصصة في تسويق المواد الزراعية والثروة الحيوانية الطازجة
                    إلى جانب الزراعات العضوية، وقد أسست لهذا عشرات المراكز المتخصصة في بيع المواد الطازجة والمنتجات
                    الغذائية التكميلية، إضافة إلى تأسيس شركة "وسمي" التي افتتحت عشرات الفروع بدورها لبيع اللحوم الطازجة
                    على مستوى المملكة. منذ ما يزيد عن ربع قرن حتى اليوم؛ تمدّ "ثمار" القطاعات الحكومية التموينية
                    والغذائية بمنتجاتها، كما تورّد المنتجات الزراعية للعديد من الأسواق المركزية الكبرى مثل بندة والدانوب
                    والسنبلة والعديد من سلاسل المطاعم التي تهتم بجودة المنتجات والأطعمة الطازجة الموثوقة. إلى جانب ما
                    تقدم، تعتبر ثمار من الشركات الموثوقة لإمداد كبرى المستشفيات وشركات الإعاشة والمزارع الكبرى على مستوى
                    المملكة مثل نادك الزراعية، الجوف الخالدية، وغيره </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="section-agents section-t4 bg-services" style="padding-bottom:3rem;">

    <div class="container">
      <div class="row pt-2">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'assets/img/home_1.jpg' %}" alt="" class="img-fluid card-img">
              </div>
            </div>
            <div class="col-md-6 section-md-t3 bg-sec">
              <div class="agent-info-box">
                <div class="agent-title">
                  <h5 class="title-d noto-kufi-arabic" style="font-size:1.65rem;">
                    القطاع العقاري
                  </h5>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a" style="font-size:1.25rem;">

                    يعد التطوير العقاري أحد المستهدفات الهامة للشركة وصاحب النصيب الأكبر من إجمالي أعمال ثمار في هذه
                    المرحلة، إلى جانب الاهتمام بالقرص الأخرى حسب خطط الشركة المعلن عنها في التنظيم المالي مثل المجالات
                    الغذائية والتسويق الزراعي وغيرها من المجالات ذات العوائد المجزية، وذلك لخلق تنوع في استثمارات الشركة
                    يدعم استقراها ونموها. وفي الاتجاه، تم تأسيس شركة "أبراج ثمار العقارية" وهي شركة مملوكة لثمار بنسبة
                    ١٠٠٪، لتكون الذراع الاستثمارية للشركة واستغلال الفرص المتاحة في المجال العقاري، خصوصاً فيما يتعلق
                    بالتطوير العقاري نظرا لما تشهده المملكة من نهضة اقتصادية على الأصعدة سوف تساهم في زيادة الطلبات
                    جميع الأصعدة سوف تساهم في زيادة الطلبات
                    السكنية والتجارية </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-agents section-t4 bg-main" style="padding-bottom:3rem;">

    <div class="container">
      <div class="row pt-2">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h5 class="title-a noto-kufi-arabic services-color" style="font-size: 2.45rem;">إنجازاتنا </h2>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-4">
              <div class="card-box-ico">
                <span class="bi bi-kanban sec-color"></span>
                <h5 class="sec-color noto-kufi-arabic" style="font-size:1.65rem;">المنتجات الحيوية</h5>
                <p class="services-color" style="font-size:1.65rem;">5208 </p>
              </div>
            </div>
            <div class="col-md-4 section-md-t3">

              <div class="card-box-ico">
                <span class="bi bi-buildings sec-color"></span>
                <h5 class="sec-color noto-kufi-arabic" style="font-size:1.65rem;"> تقنيات عقارية</h5>
                <p class="services-color" style="font-size:1.65rem;">3032 </p>
              </div>
            </div>
            <div class="col-md-4 section-md-t3">
              <div class="card-box-ico">
                <span class="bi bi-building-fill-check sec-color"></span>
                <h5 class="sec-color noto-kufi-arabic" style="font-size:1.65rem;"> تمليك عقارى</h5>
                <p class="services-color" style="font-size:1.65rem;">108812 </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-agents section-t4 bg-services">

    <div class="container">
      <div class="row d-flex justify-content-start">
        <div class="col-md-4">
          {% include 'partials/_messages.html' %}
        </div>
      </div>
      <div class="row d-flex justify-content-start">
        <div class="col-md-8 col-lg-8 d-flex justify-content-start">
          <div class="title-single-box">
            <h1 class="title-single text-black-50 noto-kufi-arabic">تقدّم بمشروعك </h1>
          </div>
        </div>
      </div>
      <div class="row pt-4 d-flex justify-content-start">
        <div class="col-sm-10">
          <div class="row d-flex justify-content-start">
            <div class="col-md-8 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                </div>
                <div class="agent-content mb-3">
                  <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-a bg-main text-white">إرسال </button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>

</main>


{% endblock %}
