{% extends 'base.html' %}
{% load static %}

{% block body %}
  <main id="main">
    <section class="agent-single">
      <div class="container">
        <div class="row pt-4"></div>
        <div class="row pt-4">
          <div class="col-md-12 section-md-t3 pt-4">
            <div class="agent-info-box pt-4">
              <div class="agent-content mb-3 d-flex align-items-center pt-4 flex-column">
                <img class="img-fluid pt-4" style="max-height: 43vh; max-width: 30rem;" src="{% static 'assets/img/logo.png' %}" />
                <span class="badge badge-sm text-bg-dark pt-2" style="height: fit-content; width: fit-content;"><h1 class="text-white">سوف يتم الأصدار قريبا</h1></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
