{% extends 'base.html' %}
{% load static %}


{% block body %}

<main id="main">

  <section class="section-agents section-t8">

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">من نحن </h1>
          </div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'assets/img/logo.png' %}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h5 class="title-d">
                      شركة ثمار
                    </h5>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                    تأسست شركة ثمار التنمية القابضة كشركة مساهمة سعودية عام 1408 هـ/ 1988 م، وقد بدأت الشركة أعمالها
                    باسم "الشركة الوطنية للتسويق الزراعي"، ومع توسع أعمال الشركة لاحقاً، تغيّر اسمها إلى "شركة ثمار
                    التنمية القابضة" في نوفمبر 2021
                    بدأت ثمار أعمالها في تسويق المنتجات الزراعية والغذائية وتجارة الجملة والتجزئة للمنتجات الزراعية
                    والغذائية ومنتجات اللحوم الطازجة والمبردة والمجمدة في المملكة العربية السعودية، إضافةً إلى صيانة
                    وإدارة وتسويق المشاريع الزراعية، وإدارة وتشغيل أسواق الجملة المركزية. ثم اتسعت دائرة أعمال ثمار
                    القابضة إلى الاستثمار في المجال العقاري ضمن خطط الشركة الاستثمارية المستقبلية المتوافقة مع خطة
                    التنظيم المالي.
                    ويتمثل نشاط شركة ثمار في إدارة الشركات التابعة للشركات القابضة واستثمار أموالها، إلى جانب امتلاك
                    العقارات والمنقولات اللازمة للشركات وتقديم القروض والكفالات والتمويل للشركات القابضة. إضافةً إلى
                    امتلاك حقوق الملكية الصناعية للشركات التابعة للشركات القابضة وتأجيرها.

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>


  <!-- ======= Agents Section ======= -->
  <section class="section-agents section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a noto-kufi-arabic">فريق العمل</h2>
            </div>
            <div class="title-link">
              <a href="agents-grid.html">
                المزيد
                <span class="bi bi-chevron-left"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'assets/img/ceo/1.png' %}" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h5 class="title-d">
                    <a href="agent-single.html" class="link-two">
                      المهندس/ وليد بن عبدالعزيز الشويعر
                    </a>
                  </h5>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">رئيس مجلس الإدارة</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'assets/img/ceo/2.png' %}" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h5 class="title-d">
                    <a href="agent-single.html" class="link-two">
                      أ/ خالد بن أسعد خاشقجي
                    </a>
                  </h5>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">نائب رئيس مجلس الإدارة(</p>

              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'assets/img/ceo/3.png' %}" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h5 class="title-d">
                    <a href="agent-single.html" class="link-two">
                      أ/ ملفي بن مناحي المرزوقي
                    </a>
                  </h5>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">عضو مجلس الإدارة - العضو المنتدب(</p>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'assets/img/ceo/4.png' %}" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h5 class="title-d">
                    <a href="agent-single.html" class="link-two">
                      أ/ عزيز بن محمد القحطاني
                    </a>
                  </h5>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">عضو مجلس الإدارة</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'assets/img/ceo/5.png' %}" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h5 class="title-d">
                    <a href="agent-single.html" class="link-two">
                      أ/ عبدالكريم بن محمد النهير
                    </a>
                  </h5>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">عضو مجلس الإدارة</p>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'assets/img/ceo/6.png' %}" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h5 class="title-d">
                    <a href="agent-single.html" class="link-two">
                      أ/ هيثم بن فيصل أسكوبي
                    </a>
                  </h5>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">عضو مجلس الإدارة (</p>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one"><i class="bi bi-linkedin" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card-box-d">
            <div class="card-img-d">
              <img src="{% static 'assets/img/ceo/7.png' %}" alt="" class="img-d img-fluid" />
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h5 class="title-d">
                    <a href="agent-single.html" class="link-two">
                      أ/ ياسر بن سليمان العقيل
                    </a>
                  </h5>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">عضو مجلس الإدارة</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Agents Section -->

  <section class="section-agents section-t8">

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-10 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h5 class="title-d">
                      الرؤية </h5>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                    أن نكون شركةً رائدة في مسيرة البناء والتنمية في المملكة العربية السعودية</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pt-2">
          <div class="row">
            <div class="col-md-10 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h5 class="title-d">
                      الرسالة </h5>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                    أن نعزز التنويع الاستثماري في المملكة وندعم الاقتصاد الوطني بشركات ناجحة ومتميزة.
                 </p>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-4 pt-2">
          <div class="row">
            <div class="col-md-10 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h5 class="title-d">
                      الأهداف </h5>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                    تتمثل أبرز أهداف الشركة في
                   </p>
                   <p class="content-d color-text-a">
                    <ul>
                      <li><p class="content-d color-text-a">	الدخول بمشاركات في أنشطة ناجحة ذات عوائد مجزية وقابلة للنمو والتوسع</p></li>
                      <li><p class="content-d color-text-a">	الاستثمار في الفرص الناجحة القابلة للتصدير خارج المملكة.</p></li>
                    </ul>
                   </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


</main>


{% endblock %}
