{% extends 'dash_base.html' %}
{% load static crispy_forms_tags %}
{% block style %}
<style>
  .intro-single {
    padding: 6rem 0 1rem;
  }

  .bg-footer {
    background-color: #c6c6c6;
  }

  .navbar {
    background-color: #392E37 !important;
  }

  .card-box-ico {
    padding: 0.95rem !important;
    border: none !important;
  }

  .card-img {
    box-shadow: 1px 2px 15px #392E37 !important;
  }

  .bg-main {
    background-color: #392E37 !important;
  }

  .bg-services {
    background-color: #c6c6c6;
  }

  .services-color {
    color: #c6c6c6 !important;
  }

  .sec-color {
    color: #CEC9BB !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }

  th {
    background-color: #392E37;
    color: #fff;
  }

  td a {
    color: #392E37;
    text-decoration: none;
  }
</style>
{% endblock %}
{% block body %}

<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="section-agents section-t4 bg-services">

    <div class="container">
      <div class="row pt-2">
        <div class="col-12 d-flex justify-content-center">
          <h5 class="noto-kufi-arabic">طلبات الوظائف</h5>
        </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="col-md-4">
          {% include 'partials/_messages.html' %}
        </div>
        </div>
        <div class="col-sm-12">
       <div class="card bg-main">
         <div class="card-header bg-sec">
                         <h1 class="noto-kufi-arabic">التفاصيل</h1>
         </div>
         <div class="card-body">
          <p><strong>الأسم:</strong> {{ object.name }}</p>
          <p><strong>المجال:</strong> {{ object.field }}</p>
          <p><strong>السيرة الذاتية:</strong>
            {% if object.cv %}
              <a href="{{ object.cv.url }}"><i style="font-size: 1.4rem" class="bi bi-download"></i></a>
            {% else %}
              لا توجد سيرة ذاتية
            {% endif %}
          </p>
          <a href="{% url 'jobrequest-delete' object.pk %}"> <i style="font-size: 1.4rem" class="bi bi-trash"></i></a>
         </div>
       </div>
        </div>
      </div>
    </div>
  </section>

</main>

{% endblock %}
